@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Welcome to Signals</title>
    </head>
    <body>
        <div>
              Hello
        </div>
    </body>
</html>